@media print {
    #header {display:none;}
    #content {display:none;}
    #comments {display:none;}
    #sidebar {display:none;}
    #footer {display:none;}
    
    .site-description {display:none;}
    .site-title {display:none;}
}


