@media screen {
    body {
        font-size: 100%;
    }
    li {
        font-variant: small-caps;
        color:red;
    }
    h1 {
        color: blue;
        text-align: center;
        font-family: 'Courier New', Courier, monospace;
        font-size:2em;
    }
    h2 {
        color: sienna;
        font-style: italic;
        font-size: 1.5em;
    }
    #bacon {
        color:palevioletred;        
    }
    #cat {
        color:seagreen;
    }
    #cupcake {
        color:orange;
    }
    p {
        font-size: 18px;
    }
    p.two {
        color:black;
        font: 15px arial, bold, sans-serif;
    }
    #footer {
        font-weight: bolder;
    }
}

