/* @import url('halloween.css'); */

/* @media screen { */


    body {
        color: red;
        font-size: 100%;
    }

    h1 { 
        font-family: 'Courier New', Courier, monospace; 
        font-size:2em; 
    }

    h2 {color: green; 
        font-style:italic; 
        font-size:1.5em; 
    }

    header {text-align: center}

    nav ul li { list-style-type:none; }
    nav ul li a {text-decoration:none}

    header h2, #hipster h2 span {color: black}

    nav {text-transform: uppercase }

    nav a:link {color: white; background-color:red}
    nav a:hover {color:red;background-color:white}


    p {color: blue; font-size: 18px; }

    p.two {
        color: black;
        font:15px Arial, bold, sans-serif;
    }

    footer { font-weight:bold; }
    
    li { font-variant: small-caps; }

    /* li {
        font-variant: small-caps;
        color:red;
    }
    h1 {
        color: blue;
        text-align: center;
    } */
    
   
   

/* } */


