body 
{ 
    background: linear-gradient(to bottom, rgba(179,220,237,1) 0%,rgba(41,184,229,1) 50%,rgba(188,224,238,1) 100%); 

}

nav li a {text-decoration: none} /* turns off underline */

nav li {list-style: none; /* turns off bullets */
        display: inline ;
        border: purple 2px solid;
        padding: 5px;
        border-radius: 5px;
        background-color: lightgrey;

    }

nav li:hover { background-color: purple;}

nav li:hover a {color: lightgrey}
