/* @import url('halloween.css'); */

/* @media screen { */


    body {
        color: red;
        font-size: 100%;
    }

    h1 { 
        font-family: 'Courier New', Courier, monospace; 
        font-size:2em; 
    }

    h2 {color: green; 
        font-style:italic; 
        font-size:1.5em; 
    }

    header {
        text-align: center; 
        /* background-image: linear-gradient(to bottom, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%);  */

        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100;Neutral+Density */
background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */





    }

    nav ul li { list-style-type:none; }
    nav ul li a {text-decoration:none}

    header h2, #hipster h2 span {color: black}

    nav {text-transform: uppercase }

    nav a:link {color: white; background-color:red}
    nav a:hover {color:red;background-color:white}


    p {color: blue; font-size: 18px; }

    p.two {
        color: black;
        font:15px Arial, bold, sans-serif;
    }

    footer { font-weight:bold; }
    
    li { font-variant: small-caps; }

    article h2 { background-image: linear-gradient(to bottom, rgba(246,230,180,1) 0%, rgba(237,144,23,1) 100%); }

    /* li {
        font-variant: small-caps;
        color:red;
    }
    h1 {
        color: blue;
        text-align: center;
    } */
    
   
   

/* } */


